# OpenAI
OPENAI_API_KEY=

# Chatbot models
CHATBOT_MODEL_GENERATIVE=gpt-4o
CHATBOT_MODEL_EMBEDDING=text-embedding-3-large

# Milvus vector database
MILVUS_IP=localhost

# Langfuse observability (https://langfuse.com)
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
